﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Payment Id: <%= payment_id> <br/>
    request_id: <%= payment_request_id>
</body>
</html>