﻿<% layout('/shared/_layout') -%>

<div class="container" ng-controller='ngClassTimeTableController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Class TimeTable</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <form id="registrationForm" name="registrationForm" role="form">
                <div class="col-md-4">
                    <!-- select-block -->
                    <div class="form-group">
                        <select class="form-control" required="" ng-model="class">
                            <option value="">Select Standard*</option>
                            <% if(standards) {
                            for(var i=0; i
                            <standards.length; i++) { %>
                                <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control" required="" ng-model="section">
                            <option value="">Select Section*</option>
                            <% if(sections) {
                            for(var i=0; i
                            <sections.length; i++) { %>
                                <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Monday
                                </th>
                                <th>
                                    Tuesday
                                </th>
                                <th>
                                    Wednesday
                                </th>
                                <th>
                                    Thursday
                                </th>
                                <th>
                                    Friday
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div ng-repeat="obj in classDTO.timeTableList | filter:{ day: 'Monday' }">
                                        {{obj.subject}}<br /> {{obj.timeStart}} {{'  '}}  {{obj.timeEnd}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="obj in classDTO.timeTableList | filter:{ day: 'Tuesday' }">
                                        {{obj.subject}}<br /> {{obj.timeStart}} {{'  '}}  {{obj.timeEnd}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="obj in classDTO.timeTableList | filter:{ day: 'Wednesday' }">
                                        {{obj.subject}}<br /> {{obj.timeStart}} {{'  '}} {{obj.timeEnd}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="obj in classDTO.timeTableList | filter:{ day: 'Thursday' }">
                                        {{obj.subject}}<br /> {{obj.timeStart}} {{'  '}} {{obj.timeEnd}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="obj in timeTableList | filter:{ day: 'Friday' }">
                                        {{obj.subject}}<br /> {{obj.timeStart}} {{'  '}} {{obj.timeEnd}}
                                    </div>
                                </td>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>

<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/class-timeTable.js"></script>') %>
