﻿<% layout('/shared/_layout') -%>

<div class="container" ng-controller='ngClassFeeController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Class Fee</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <form id="registrationForm" name="registrationForm" role="form">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <!-- select-block -->
                    <div class="form-group">
                        <select class="form-control" required="" ng-model="className">
                            <option value="">Select Standard*</option>
                            <% if(standards) {
                            for(var i=0; i
                            <standards.length; i++) { %>
                                <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                </div>
                <div class="col-md-3">
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>Segment</th>
                            <th>Fee</th>
                        </tr>
                        <tr class="info">
                            <td>Form Fee</td>
                            <td>{{classFeeDTO.formFee}}</td>
                        </tr>
                        <tr class="danger">
                            <td>Library Fee</td>
                            <td>{{classFeeDTO.libraryFee}}</td>
                        <tr class="warning">
                            <td>Lab Fee</td>
                            <td>{{classFeeDTO.labFee}}</td>
                        </tr>
                        <tr class="active">
                            <td>Development Fee</td>
                            <td>{{classFeeDTO.developmentFee}}</td>
                        </tr>
                        <tr class="success">
                            <td>Computer Fee</td>
                            <td>{{classFeeDTO.computerFee}}</td>
                        </tr>
                        <tr class="info">
                            <td>Sport Fee</td>
                            <td>{{classFeeDTO.sportFee}}</td>
                        </tr>
                        <tr class="danger">
                            <td>Late Fee</td>
                            <td>{{classFeeDTO.lateFee}}</td>
                        </tr>
                        <tr class="warning">
                            <td>Total Fee</td>
                            <td>{{classFeeDTO.totalFee}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>

<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/class-fee.js"></script>') %>
