﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<style type="text/css">
    .grid {
        width: 100%;
        height: 250px;
    }
</style>

<!-- Admission form -->
<div class="container" ng-controller='ngOfficeStaffIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Office Staff</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h3>Personal Information</h3>
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="First Name*" type="text" required ng-model="officeStaffDTO.userRef.firstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="officeStaffDTO.userRef.lastName">
                </div>
                <div class="form-group">
                    <label>Birth Date</label>
                    <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" required ng-model="officeStaffDTO.userRef.birthDate" datepicker>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="officeStaffDTO.userRef.phoneNumber">
                </div>
                <!-- select-block -->
                <div class="form-group">
                    <label>Blood Group</label>
                    <select class="form-control" required="" ng-model="officeStaffDTO.userRef.bloodGroup">
                        <option value="">Select*</option>
                        <% if(bloodGroups) {
                        for(var i=0; i
                        <bloodGroups.length; i++) { %>
                            <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <h3>Login Information</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="officeStaffDTO.userRef.username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="officeStaffDTO.userRef.email">
                </div>
                <div class="form-group">
                    <label>Confirm Email</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="officeStaffDTO.userRef.username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="text" required ng-model="officeStaffDTO.userRef.password">
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="col-md-6">
                <h3>Contact Information</h3>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="officeStaffDTO.userRef.address">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="officeStaffDTO.userRef.city">
                </div>
                <div class="form-group">
                    <label>Province</label>
                    <select class="form-control" required="" ng-model="officeStaffDTO.userRef.province">
                        <option value="">Select*</option>
                        <% if(provinces) {
                        for(var i=0; i
                        <provinces.length; i++) { %>
                            <option value="<%= provinces[i].value %>"><%= provinces[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pin Code</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="officeStaffDTO.userRef.pinCode">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Qualification</h3>
                <div class="form-group">
                    <label>Qualification</label>
                    <select class="form-control" required="" ng-model="officeStaffDTO.qualification">
                        <option value="">Select*</option>
                        <% if(qualifications) {
                        for(var i=0; i
                        <qualifications.length; i++) { %>
                            <option value="<%= qualifications[i].value %>"><%= qualifications[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Designation</label>
                    <select class="form-control" required="" ng-model="officeStaffDTO.designation">
                        <option value="">Select*</option>
                        <% if(designations) {
                        for(var i=0; i
                        <designations.length; i++) { %>
                            <option value="<%= designations[i].value %>"><%= designations[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Experience</label>
                    <select class="form-control" required="" ng-model="officeStaffDTO.experience">
                        <option value="">Select*</option>
                        <%
                        for(var i=0; i
                        <35; i++) { %>
                            <option value="<%= i %>"><%= i %></option>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <!-- ui.grid started -->
                <div id="grid1" ui-grid="gridOptions"></div>
                <!-- ui.grid ended -->
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/student/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/student/uploadProfileImage';
</script>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/officeStaff-index.js"></script>') %>