﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>

<section class="page-content">
    <div class="container" ng-controller='ngOfficeStaffMyProfileController' ng-init="init();">
        <% if(user) { %>
        <input type="text" name="userId" id="userId" value="<%=user._id %>" style="display: none;" />
        <% } %>
        <div class="row">
            <div class="content col-md-12">
                <div class="box mb-30">
                    <!---->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                        <!--<li><a href="#messages" data-toggle="tab">Messages</a></li>-->
                        <li><a href="#changePersonalInfo" data-toggle="tab">Change Personal Info</a></li>
                        <li><a href="#changeEmail" data-toggle="tab">Change Email</a></li>
                        <li><a href="#changePassword" data-toggle="tab">Change Password</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <div class="spacer"></div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{officeStaffDTO.userRef.firstName}} {{officeStaffDTO.userRef.lastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 " align="center">
                                            <img alt="User Pic" ng-src="//api.randomuser.me/portraits/thumb/men/7.jpg" class="img-circle img-responsive">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <table class="table table-user-information">
                                                <tbody>
                                                    <tr>
                                                        <td>Designation:</td>
                                                        <td>{{officeStaffDTO.designation}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Qualification:</td>
                                                        <td>{{officeStaffDTO.qualification}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Experience(yrs.)</td>
                                                        <td>{{officeStaffDTO.experience}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date of Birth</td>
                                                        <td>{{officeStaffDTO.userRef.birthDate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address</td>
                                                        <td>{{officeStaffDTO.userRef.address}} {{officeStaffDTO.userRef.city}} {{officeStaffDTO.userRef.province}} {{officeStaffDTO.userRef.pinCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td><a href="mailto:{{officeStaffDTO.userRef.email}}">{{officeStaffDTO.userRef.email}}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone Number</td>
                                                        <td>
                                                            {{officeStaffDTO.userRef.phoneNumber}}
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a href="#" id="btnChangePersonalInfo" class="btn btn-primary">Change Personal Info</a>
                                    <a href="#" id="btnChangeEmail" class="btn btn-primary">Change Email</a>
                                    <a href="#" id="btnChangePassword" class="btn btn-primary">Change Password</a>
                                </div>
                            </div>
                        </div>
                        <!--/tab-pane-->
                        <!-- messages -->
                        <!--<div class="tab-pane active" id="messages">
            <div class="spacer"></div>
            <ul class="nav nav-pills">
                <li><a href="#compose" id="subtab" data-toggle="tab">Compose</a></li>
                <li class="active"><a href="#inbox" id="subtab" data-toggle="tab">Inbox</a></li>
                <li><a href="#sent" id="subtab" data-toggle="tab">Sent</a></li>
                <li><a href="#draft" id="subtab" data-toggle="tab">Draft</a></li>
                <li><a href="#trash" id="subtab" data-toggle="tab">Trash</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="compose">
                    @*<div class="spacer"></div>*@
                    <form class="form" action="##" method="post" id="form-compose">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="tokenfield" type="text" class="form-control" placeholder="To" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Send</button>
                                    <button class="btn btn-default"> Save Draft</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                @if (ViewBag.Messages != null)
                {
                <div class="tab-pane active" id="inbox">
                    @*<div class="spacer"></div>*@
                    <form class="form" action="##" method="post" id="messageForm">
                        <div class="form-group">
                            <ul class="list-group">
                                @*
                                <li class="list-group-item text-muted">Inbox</li>*@
                                @foreach (var message in ViewBag.Messages)
                                {
                                <li class="list-group-item text-right"><a href="#" class="pull-left">@message.Contents</a>@message.Sent <a href="#">Detail</a> <a href="#">Delete</a></li>
                                }
                            </ul>
                        </div>
                    </form>
                </div>
                }

                <div class="tab-pane" id="sent">
                    @*<div class="spacer"></div>*@
                    <form class="form" action="##" method="post" id="form-sent">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="list-group-item text-right"><a href="#" class="pull-left">New subscribers!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                                <li class="list-group-item text-right"><a href="#" class="pull-left">New subscribers!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="draft">
                    @*<div class="spacer"></div>*@
                    <form class="form" action="##" method="post" id="form-draft">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="list-group-item text-right"><a href="#" class="pull-left">Draft 1!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                                <li class="list-group-item text-right"><a href="#" class="pull-left">Draft 2!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="trash">
                    @*<div class="spacer"></div>*@
                    <form class="form" action="##" method="post" id="form-trash">
                        <div class="form-group">
                            <ul class="list-group">
                                <li class="list-group-item text-right"><a href="#" class="pull-left">Trash 1!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                                <li class="list-group-item text-right"><a href="#" class="pull-left">Trash 2!</a>@DateTime.Now <a href="#">Detail</a> <a href="#">Delete</a></li>
                            </ul>

                        </div>
                    </form>
                </div>

            </div>
        </div>-->
                        <!--/tab-pane-->
                        <div class="tab-pane" id="changePersonalInfo">
                            <div class="spacer"></div>
                            <!--  -->
                            <form id="registrationForm" name="registrationForm" role="form">
                                <div class="inner_sec_grids_info_w3ls">
                                    <!--  -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3>Personal Information</h3>
                                            <div class="form-group">
                                                <input class="form-control" name="slider-name" id="slider-name" placeholder="First Name*" type="text" required ng-model="officeStaffDTO.userRef.firstName">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="officeStaffDTO.userRef.lastName">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" required ng-model="officeStaffDTO.userRef.birthDate" datepicker>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="officeStaffDTO.userRef.phoneNumber">
                                            </div>
                                            <!-- select-block -->
                                            <div class="form-group">
                                                <select class="form-control" required="" ng-model="officeStaffDTO.userRef.bloodGroup">
                                                    <option value="">Select Blood Group*</option>
                                                    <% if(bloodGroups) {
                                                    for(var i=0; i
                                                    <bloodGroups.length; i++) { %>
                                                        <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                                                        <% }} %>
                                                </select>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Qualification</h3>
                                            <div class="form-group">
                                                <select class="form-control" required="" ng-model="officeStaffDTO.qualification">
                                                    <option value="">Select Qualification*</option>
                                                    <% if(qualifications) {
                                                    for(var i=0; i
                                                    <qualifications.length; i++) { %>
                                                        <option value="<%= qualifications[i].value %>"><%= qualifications[i].text %></option>
                                                        <% }} %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" required="" ng-model="officeStaffDTO.designation">
                                                    <option value="">Select Designation*</option>
                                                    <% if(designations) {
                                                    for(var i=0; i
                                                    <designations.length; i++) { %>
                                                        <option value="<%= designations[i].value %>"><%= designations[i].text %></option>
                                                        <% }} %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" required="" ng-model="officeStaffDTO.experience">
                                                    <option value="">Select Experience*</option>
                                                    <%
                                                    for(var i=0; i
                                                    <35; i++) { %>
                                                        <option value="<%= i %>"><%= i %></option>
                                                        <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Contact Information</h3>
                                            <div class="form-group">
                                                <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="officeStaffDTO.userRef.address">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="officeStaffDTO.userRef.city">
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" required="" ng-model="officeStaffDTO.userRef.province">
                                                    <option value="">Select Province*</option>
                                                    <% if(provinces) {
                                                    for(var i=0; i
                                                    <provinces.length; i++) { %>
                                                        <option value="<%= provinces[i].value %>"><%= provinces[i].text %></option>
                                                        <% }} %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="officeStaffDTO.userRef.pinCode">
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="clearfix"> </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                                        <button type="button" ng-click="updateProfile()" class="btn btn-primary">Update</button>
                                        <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </form>
                            <div class="inner_sec_grids_info_w3ls">
                            </div>
                            <!--  -->
                        </div>
                        <div class="tab-pane" id="changeEmail">
                            <div class="spacer"></div>
                            <form class="form" action="##" method="post" id="alertsForm">
                                <div class="inner_sec_grids_info_w3ls">
                                    <!-- row 1 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="currentPassword">
                                                    Current Password
                                                </label>
                                                <input type="text" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current Password" title="enter your Current Password.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 2 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="email">
                                                    Email
                                                </label>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Email" title="enter your Email.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 3 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="confirmEmail">
                                                    Confirm Email
                                                </label>
                                                <input type="text" class="form-control" name="confirmEmail" id="confirmEmail" placeholder="Confirm Email" title="enter your Confirm Email.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 4 -->
                                    <!-- row 5 -->
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <br>
                                                <!--<button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-ok-sign"></i>Edit</button>-->
                                                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-ok-sign"></i>Update</button>
                                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-repeat"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="inner_sec_grids_info_w3ls">
                            </div>
                        </div>
                        <div class="tab-pane" id="changePassword">
                            <div class="spacer"></div>
                            <form class="form" action="##" method="post" id="alertsForm">
                                <div class="inner_sec_grids_info_w3ls">
                                    <!-- row 1 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="currentPassword">
                                                    Current Password
                                                </label>
                                                <input type="text" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current Password" title="enter your Current Password.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 2 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">

                                                <label for="last_name">
                                                    New Password
                                                </label>
                                                <input type="text" class="form-control" name="newPassword" id="newPassword" placeholder="New Password" title="enter your New Password.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 3 -->
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">

                                                <label for="last_name">
                                                    Confirm New Password
                                                </label>
                                                <input type="text" class="form-control" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password" title="enter your Confirm New Password.">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 4 -->
                                    <!-- row 5 -->
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <br>
                                                <!--<button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-ok-sign"></i>Edit</button>-->
                                                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-ok-sign"></i>Update</button>
                                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-repeat"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                            <div class="inner_sec_grids_info_w3ls">
                            </div>
                    </div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</section>


<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/officeStaff-myProfile.js"></script>') %>