﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<!-- Admission form -->
<div class="container" ng-controller='ngExamMarksController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Exam Marks</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-2">
                <!-- select-block -->
                <div class="form-group">
                    <label for="examType">Select Exam Type</label>
                    <select class="form-control" required="" ng-model="examType">
                        <option value="">Select*</option>
                        <% if(examTypes) {
                        for(var i=0; i
                        <examTypes.length; i++) { %>
                            <option value="<%= examTypes[i].value %>"><%= examTypes[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <!-- select-block -->

                <div class="form-group">
                    <label for="standard">Select Standard</label>
                    <select class="form-control" required="" ng-change="onchange()" ng-model="standard">
                        <option value="">Select*</option>
                        <% if(standards) {
                        for(var i=0; i
                        <standards.length; i++) { %>
                            <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="section">Select Section</label>
                    <select class="form-control" required="" ng-change="onchange()" ng-model="section">
                        <option value="">Select*</option>
                        <% if(sections) {
                        for(var i=0; i
                        <sections.length; i++) { %>
                            <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="student">Select Student</label>
                    <select class="form-control" required="" ng-model="studentDTO._id"
                            ng-options="obj._id as obj.userRef.firstName for obj in students">
                        <option value="">Select*</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <br/>
                    <button type="button" ng-click="search()" class="btn btn-primary">
                        Search
                    </button>
                </div>
            </div>
            <!--ng-show="showSearchResult"-->
            <div class="clearfix"> </div>
            
            <div class="col-md-12" ng-repeat='subjectDTO in studentDTO.exams.subjects track by $index'>
                <div class="form-group" ng-if="$index == 0">
                    <div class="col-md-2">
                        <label>Subject</label>
                    </div>
                    <div class="col-md-2">
                        <label>Marks Obtained Theory</label>
                    </div>
                    <div class="col-md-3">
                        <label>Total Marks Theory</label>
                    </div>
                    <div class="col-md-2">
                        <label>Marks Obtained Practical</label>
                    </div>
                    <div class="col-md-3">
                        <label>Total Marks Practical</label>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>{{subjectDTO.text}}</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Marks*" type="text" value="{{subjectDTO.marksObtainedTheory}}" required ng-model="subjectDTO.marksObtainedTheory">
                    </div>
                    <div class="col-md-3">
                        <label>{{subjectDTO.maxMarksTheory}}</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Marks*" type="text" value="{{subjectDTO.marksObtainedPractical}}" required ng-model="subjectDTO.marksObtainedPractical">
                    </div>
                    <div class="col-md-3">
                        <label>{{subjectDTO.maxMarksPractical}}</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <div ui-grid="gridOptions" ui-grid-expandable></div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/Student/Register';
    var captchaUrl = '/home/ShowCaptchaImage';
    var uploadProfileImageUrl = '/Student/UploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/exam-mark.js"></script>') %>