﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/invoice-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/vender/multiselect/multiselect.style.css">') %>
<!-- Admission form -->
<div class="container" ng-controller='ngInvoiceIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Invoice</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h3>Invoice Information</h3>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="standard" ng-change="onchange();">
                        <option value="">Select Class*</option>
                        <% if(standards) {
                        for(var i=0; i
                        <standards.length; i++) { %>
                            <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="section" ng-change="onchange();">
                        <option value="">Select Section*</option>
                        <% if(sections) {
                        for(var i=0; i
                        <sections.length; i++) { %>
                            <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="invoiceDTO.studentRef._id"
                            ng-options="obj._id as obj.userRef.firstName for obj in students">
                        <option value="">Select Student*</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Title*" type="text" required ng-model="invoiceDTO.purpose">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Description*" type="text" required ng-model="invoiceDTO.desc">
                </div>
                <div class="form-group">
                    <input type="text" id="date" class="form-control date" name="date" placeholder="Date*" datepicker required ng-model="invoiceDTO.createdDate">
                </div>
                <!-- select-block -->

                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <h3>Payment Information</h3>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Total*" type="text" required ng-model="invoiceDTO.amount">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Payment*" type="text" required ng-model="invoiceDTO.amountPaid">
                </div>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="invoiceDTO.paymentStatusType">
                        <option value="">Select Status*</option>
                        <% if(paymentStatusTypes) {
                        for(var i=0; i
                        <paymentStatusTypes.length; i++) { %>
                            <option value="<%= paymentStatusTypes[i].value %>"><%= paymentStatusTypes[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="invoiceDTO.paymentMethod">
                        <option value="">Select Method*</option>
                        <% if(paymentMethods) {
                        for(var i=0; i
                        <paymentMethods.length; i++) { %>
                            <option value="<%= paymentMethods[i].value %>"><%= paymentMethods[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <div ui-grid="gridOptions"></div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->

        </form>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/Invoice/Register';
    var captchaUrl = '/home/ShowCaptchaImage';
    var uploadProfileImageUrl = '/Invoice/UploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/invoice-index.js"></script>') %>
<% block('headerscript').append('<script src="/public/vender/multiselect/multiselect.js"></script>') %>