﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<!-- Admission form -->
<div class="container" ng-controller='ngClassFeeController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Class Fee</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form" class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-12">
                        <select class="form-control" required="" ng-model="classFeeDTO.class">
                            <option value="">Select Standard*</option>
                            <% if(standards) {
                            for(var i=0; i
                            <standards.length; i++) { %>
                                <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <!-- select-block -->
                <div class="form-group">
                    <label for="formFee" class="col-md-4">Form Fee</label>
                    <div class="col-md-8">
                        <input type="text" id="formFee" class="form-control formFee" name="formFee" placeholder="Form Fee*" required ng-model="classFeeDTO.formFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="labFee" class="col-md-4">Lab Fee</label>
                    <div class="col-md-8">
                        <input type="text" id="labFee" class="form-control labFee" name="labFee" placeholder="Lab Fee*" required ng-model="classFeeDTO.labFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="computerFee" class="col-md-4">Computer Fee</label>
                    <div class="col-md-8">
                        <input type="text" id="Computer Fee" class="form-control computerFee" name="computerFee" placeholder="Computer Fee*" required ng-model="classFeeDTO.computerFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lateFee" class="col-md-4">Late Fee</label><div class="col-md-8">
                        <input type="text" id="Late Fee" class="form-control lateFee" name="lateFee" placeholder="Late Fee*" required ng-model="classFeeDTO.lateFee">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tutorFee" class="col-md-4">Tutor Fee</label><div class="col-md-8">
                        <input type="text" id="tutorFee" class="form-control tutorFee" name="tutorFee" placeholder="Tutor Fee*" required ng-model="classFeeDTO.tutorFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="libraryFee" class="col-md-4">Library Fee</label><div class="col-md-8">
                        <input type="text" id="libraryFee" class="form-control libraryFee" name="libraryFee" placeholder="Library Fee*" required ng-model="classFeeDTO.libraryFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="developmentFee" class="col-md-4">Development Fee</label><div class="col-md-8">
                        <input type="text" id="developmentFee" class="form-control developmentFee" name="developmentFee" placeholder="Development Fee*" required ng-model="classFeeDTO.developmentFee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sportFee" class="col-md-4">Sport Fee</label><div class="col-md-8">
                        <input type="text" id="sportFee" class="form-control sportFee" name="sportFee" placeholder="Sport Fee*" required ng-model="classFeeDTO.sportFee">
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <!-- ui.grid started -->
                <div id="grid1" ui-grid="gridOptions"></div>
                <!-- ui.grid ended -->
            </div>
            <div class="clearfix"> </div>
        </form>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/class/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/class/uploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/views/class-fee.js"></script>') %>