﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/holiday-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<style type="text/css">
    .grid {
        width: 100%;
        height: 250px;
    }
</style>

<!-- Admission form -->
<div class="container" ng-controller='ngHolidayIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Holiday</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h3>Holiday Info</h3>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Title*" type="text" required ng-model="holidayDTO.title">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Description*" type="text" required ng-model="holidayDTO.description">
                </div>
                
            </div>
            <div class="col-md-6">
                <h3>Date Info</h3>
                <div class="form-group">
                    <input type="text" id="startDate" class="form-control startDate" name="startDate" placeholder="Start Date*" required ng-model="holidayDTO.startDate" datepicker>
                </div>
                <div class="form-group">
                    <input type="text" id="endDate" class="form-control endDate" name="endDate" placeholder="End Date*" required ng-model="holidayDTO.endDate" datepicker>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            
            
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <!-- ui.grid started -->
                <div id="grid1" ui-grid="gridOptions"></div>
                <!-- ui.grid ended -->
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/holiday/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/holiday/uploadProfileImage';
</script>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/holiday-index.js"></script>') %>