﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<div class="container" ng-controller='ngExamTimeTableController'>
    <!--AntiForgeryToken-->
    <div class="heading">
        <h3>Manage Exam TimeTable</h3>
    </div>
    <div class="inner_sec_grids_info_w3ls">
    </div>
    <form id="registrationForm" name="registrationForm" role="form">
        <div class="col-md-4">
            <div class="form-group">
                <label for="examType" class="col-md-6">Select Exam Type</label><div class="col-md-6">
                    <select class="form-control" required="" ng-model="examDTO.examType">
                        <option value="">Select*</option>
                        <% if(examTypes) {
                        for(var i=0; i
                        <examTypes.length; i++) { %>
                            <option value="<%= examTypes[i].value %>"><%= examTypes[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="class" class="col-md-6">Select Standard</label><div class="col-md-6">
                    <select class="form-control" required="" ng-model="examDTO.class">
                        <option value="">Select*</option>
                        <% if(standards) {
                        for(var i=0; i
                        <standards.length; i++) { %>
                            <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
        </div>
        <div class="clearfix"> </div>
        <!--  -->
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <div ng-repeat='examTimeTableDTO in examDTO.timeTableList track by $index'>
            <div class="col-md-12" ng-if="$index == 0">
                <h3 class="text-center">TimeTable Information</h3>
                <div class="inner_sec_grids_info_w3ls">
                </div>
                <div class="col-md-3">
                        Subject
                </div>
                <div class="col-md-2">
                        Exam Date
                </div>
                <div class="col-md-2">
                        Time Start
                </div>
                <div class="col-md-2">
                        Time End
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="comboSubject-{{$index}}" required="" ng-model="examTimeTableDTO.subject">
                        <option value="">Subject*</option>
                        <% if(subjects) {
                        for(var i=0; i
                        <subjects.length; i++) { %>
                            <option value="<%= subjects[i].value %>"><%= subjects[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control examDate" id="examDate-{{$index}}"  name="examDate-{{$index}}" placeholder="Exam Date*" required ng-model="examTimeTableDTO.examDate" datepicker>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="timeStart-{{$index}}" placeholder="Time Start*" type="text" required ng-model="examTimeTableDTO.timeStart">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="timeEnd-{{$index}}" placeholder="Time End*" type="text" required ng-model="examTimeTableDTO.timeEnd">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click='del($index)'>Delete</button>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-12 media text-right" ng-if="$index == examDTO.timeTableList.length - 1">
                <input type="button" class="btn btn-primary" id="addrow" ng-click='add()' value="Add Row" />
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
            <button type="button" ng-click="insertExamTimeTable()" class="btn btn-primary" ng-show="addMode">Save</button>
            <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
            <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
        </div>
        <div class="clearfix"></div>
        <!--  -->
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <div class="col-md-12 media">
            <div ui-grid="gridOptions" ui-grid-expandable></div>
        </div>
        <div class="clearfix"> </div>
    </form>
    <div class="inner_sec_grids_info_w3ls">
    </div>
</div>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/exam-timeTable.js"></script>') %>
