﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/teacher-index.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/vender/multiselect/multiselect.style.css">') %>


<!-- Admission form -->
<div class="container" ng-controller='ngTeacherIndexController'>
    <!--AntiForgeryToken-->
    <div class="heading">
        <h3>Manage Teacher</h3>
    </div>
    <div class="inner_sec_grids_info_w3ls">
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-3">
                <h3>Personal Information</h3>
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="First Name*" type="text" required ng-model="teacherDTO.userRef.firstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="teacherDTO.userRef.lastName">
                </div>
                <div class="form-group">
                    <label>Birth Date</label>
                    <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" required ng-model="teacherDTO.userRef.birthDate">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="teacherDTO.userRef.phoneNumber">
                </div>
                <!-- select-block -->
                <div class="form-group">
                    <label>Blood Group</label>
                    <select class="form-control" required="" ng-model="teacherDTO.userRef.bloodGroup">
                        <option value="">Blood Group*</option>
                        <% if(bloodGroups) {
                        for(var i=0; i
                        <bloodGroups.length; i++) { %>
                            <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <!--<div class="form-group">-->
                <!--<multiselect class="input-xlarge" multiple="true"
                             ng-model="teacherDTO.subjects"
                             options="c.text for c in subjects"
                             change="selected()"></multiselect>-->
                <!--</div>-->
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3">
                <h3>User Information</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="teacherDTO.userRef.username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="teacherDTO.userRef.email">
                </div>
                <div class="form-group">
                    <label>Confirm Email</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="password" required ng-model="teacherDTO.userRef.password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Password*" type="password" required>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Contact Information</h3>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="teacherDTO.userRef.address">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="teacherDTO.userRef.city">
                </div>
                <div class="form-group">
                    <label>Province</label>
                    <select class="form-control" required="" ng-model="teacherDTO.userRef.province">
                        <option value="">Select*</option>
                        <% if(indiaStates) {
                        for(var i=0; i
                        <indiaStates.length; i++) { %>
                            <option value="<%= indiaStates[i].value %>"><%= indiaStates[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pin Code</label>
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="teacherDTO.userRef.pinCode">
                </div>
            </div>
            <div class="col-md-3">
                <h3>Qualification</h3>
                <div class="form-group">
                    <label>Designation</label>
                    <select class="form-control" required="" ng-model="teacherDTO.designation">
                        <option value="">Select*</option>
                        <% if(designations) {
                        for(var i=0; i
                        <designations.length; i++) { %>
                            <option value="<%= designations[i].value %>"><%= designations[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Qualification</label>
                    <select class="form-control" required="" ng-model="teacherDTO.qualification">
                        <option value="">Select*</option>
                        <% if(qualifications) {
                        for(var i=0; i
                        <qualifications.length; i++) { %>
                            <option value="<%= qualifications[i].value %>"><%= qualifications[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Experience(in Years)</label>
                    <select class="form-control" required="" ng-model="teacherDTO.experience">
                        <option value="">Select*</option>
                        <option value="">0</option>
                        <option value="">< 1</option>
                        <% for(var i=1; i
                        <=35; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
            <div class="clearfix"></div>
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <!--  -->

            <div class="col-md-12 media">
                <div ui-grid="gridOptions"></div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
    </div>
    <div class="inner_sec_grids_info_w3ls">
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var insertTeacherUrl = '/teacher/register';
    var uploadProfileImageUrl = '/teacher/uploadProfileImage';
</script>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/teacher-index.js"></script>') %>
<% block('headerscript').append('<script src="/public/vender/multiselect/multiselect.js"></script>') %>