﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/teacher-index.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/vender/multiselect/multiselect.style.css">') %>

<!-- Admission form -->
<div class="container" ng-controller='ngTeacherIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Teacher Registration</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="inner_sec_grids_info_w3ls">
                <div class="col-md-3">
                    <h3>Personal Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="firstName" id="slider-name" placeholder="First Name*" type="text" required ng-model="teacherDTO.userRef.firstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="teacherDTO.userRef.lastName">
                    </div>
                    <div class="form-group">
                        <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" required ng-model="teacherDTO.userRef.birthDate">
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="teacherDTO.userRef.phoneNumber">
                    </div>
                    <!-- select-block -->
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="teacherDTO.userRef.bloodGroup">
                            <option value="">Blood Group*</option>
                            <% if(bloodGroups) {
                            for(var i=0; i
                            <bloodGroups.length; i++) { %>
                                <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="teacherDTO.subjects"
                                 options="c.text for c in subjects"
                                 change="selected()"></multiselect>
                    <!--</div>-->
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3">
                    <h3>User Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="teacherDTO.userRef.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="teacherDTO.userRef.email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="password" required ng-model="teacherDTO.userRef.password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Password*" type="password" required>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-3">
                    <h3>Contact Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="teacherDTO.userRef.address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="teacherDTO.userRef.city">
                    </div>
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="teacherDTO.userRef.province">
                            <option value="">Province*</option>
                            <% if(indiaStates) {
                            for(var i=0; i
                            <indiaStates.length; i++) { %>
                                <option value="<%= indiaStates[i].value %>"><%= indiaStates[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="teacherDTO.userRef.pinCode">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Qualification</h3>
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="teacherDTO.designation">
                            <option value="">Designation*</option>
                            <% if(designations) {
                            for(var i=0; i
                            <designations.length; i++) { %>
                                <option value="<%= designations[i].value %>"><%= designations[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="teacherDTO.qualification">
                            <option value="">Qualification*</option>
                            <% if(qualifications) {
                            for(var i=0; i
                            <qualifications.length; i++) { %>
                                <option value="<%= qualifications[i].value %>"><%= qualifications[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="teacherDTO.experience">
                            <option value="">Experience(in Years)*</option>
                            <% for(var i=0; i
                            <=35; i++) { %>
                            <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class=""><i class="icon-plus-sign-alt"></i> Verification </h3>
                    <hr>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Verification code </label>
                                    <img id="m_imgCaptcha" alt="Click to Change image"
                                         src="/public/captcha.png" style="width: 200px; height: 50px;" />
                                    <label><a href="javascript:void();" id="reloadCaptcha">Reload the verification code</a></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type the verification code </label>
                                    <input class="form-control Captcha" name="Captcha" type="text" id="Captcha" maxlength="6" required ng-model="UserModel.Captcha" style="width:150px;" />
                                    <label class="error" ng-show="invalidelements.Captcha">Please enter a valid verification code.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                    <div class="form-group">
                        <button type="button" ng-click="register()" class="btn btn-primary">Register</button>
                        <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <!--  -->
        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = 'http://localhost:1238/api/teacher/insert';
    var uploadProfileImageUrl = 'http://localhost:1238/api/teacher/uploadProfileImage';
</script>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/teacher-register.js"></script>') %>
<% block('headerscript').append('<script src="/public/vender/multiselect/multiselect.js"></script>') %>