﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<style type="text/css">
    .grid {
        width: 100%;
        height: 250px;
    }
</style>

<!-- Admission form -->
<div class="container" ng-controller='ngOfficeStaffIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Office Staff</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h2>Personal Information</h2>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Title*" type="text" required ng-model="HolidayModel.Title">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Comments*" type="text" required ng-model="HolidayModel.Comments">
                </div>
                <div class="form-group">
                    <select required="">
                        <option value="">Notice For*</option>
                        <% if(students) {
                        for(var i=0; i
                        <students.length; i++) { %>
                            <option value="<%= students[i].value %>"><%= students[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <h3>User Information</h3>
                <div class="form-group">
                    <input type="text" id="startDate" class="form-control startDate" name="startDate" placeholder="Start Date*" required ng-model="HolidayModel.StartDate">
                </div>
                <div class="form-group">
                    <input type="text" id="endDate" class="form-control endDate" name="endDate" placeholder="End Date*" required ng-model="HolidayModel.EndDate">
                </div>
                <div class="form-group">
                    <select required="">
                        <option value="">Select Class*</option>
                        <% if(students) {
                        for(var i=0; i
                        <students.length; i++) { %>
                            <option value="<%= students[i].value %>"><%= students[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <ul>
                    <li>
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1"><span></span>Send SMS</label>
                    </li>
                </ul>
                <div class="form-group">
                    <input type="text" id="smsText" class="form-control smsText" name="smsText" placeholder="SMS Text*" required ng-model="HolidayModel.SMSText">
                </div>
            </div>
            <div class="clearfix"> </div>
        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/student/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/student/uploadProfileImage';
</script>
<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/holiday-index.js"></script>') %>