﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<style>
    .present a {
        background-color: green !important;
        background-image: none !important;
        color: #ffffff !important;
    }

    .absent a {
        background-color: red !important;
        background-image: none !important;
        color: #ffffff !important;
    }
</style>
<!-- Admission form -->
<div class="container" ng-controller='ngStudentAttendanceController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>My Attendance</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="inner_sec_grids_info_w3ls">
                <div class="col-md-4">
                    <h2></h2>
                </div>
                <div class="col-md-4">
                    <h3></h3>
                    <div class="form-group">
                        <div id="datepicker"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2></h2>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="inner_sec_grids_info_w3ls"></div>
        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/student/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/student/uploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/student-attendance.js"></script>') %>