﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/vender/multiselect/multiselect.style.css">') %>
<!-- Admission form -->
<div class="container" ng-controller='ngStudentIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Register Student</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="inner_sec_grids_info_w3ls">
                <div class="col-md-4">
                    <h3>Personal Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="First Name*" type="text" required ng-model="studentDTO.userRef.firstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="studentDTO.userRef.lastName">
                    </div>
                    <div class="form-group">
                        <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" datepicker required ng-model="studentDTO.userRef.birthDate">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="studentDTO.userRef.phoneNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- select-block -->
                            <div class="form-group">
                                <select class="form-control" required="" ng-model="studentDTO.userRef.bloodGroup">
                                    <option value="">Blood Group*</option>
                                    <% if(bloodGroups) {
                                    for(var i=0; i
                                    <bloodGroups.length; i++) { %>
                                        <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                                        <% }} %>
                                </select>
                            </div>
                            <!--<div class="form-group">
                        <multiselect class="input-xlarge" multiple="true"
                                     ng-model="studentDTO.currentSubjects"
                                     options="c.text for c in subjects"
                                     change="selected()"></multiselect>
                    </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" required="" ng-model="studentDTO.currentClass">
                                    <option value="">Select Class*</option>
                                    <% if(standards) {
                                    for(var i=0; i
                                    <standards.length; i++) { %>
                                        <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                        <% }} %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" required="" ng-model="studentDTO.currentSection">
                                    <option value="">Select Section*</option>
                                    <% if(sections) {
                                    for(var i=0; i
                                    <sections.length; i++) { %>
                                        <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                                        <% }} %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Login Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="studentDTO.userRef.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="studentDTO.userRef.email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="password" required ng-model="studentDTO.userRef.password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Password*" type="password" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Contact Information</h3>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="studentDTO.userRef.address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="studentDTO.userRef.city">
                    </div>
                    <div class="form-group">
                        <select required="" class="form-control" ng-model="studentDTO.userRef.province">
                            <option value="">Province*</option>
                            <% if(provinces) {
                            for(var i=0; i
                            <provinces.length; i++) { %>
                                <option value="<%= provinces[i].value %>"><%= provinces[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="studentDTO.userRef.pinCode">
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!--  -->
                <div class="col-md-4">
                    <h3>Father's Details</h3>


                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Father Name*" type="text" required ng-model="studentDTO.parentRef.fatherName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Father's Occupation'*" type="text" required ng-model="studentDTO.parentRef.fatherOccupation">
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber" class="form-control fatherPhoneNumber" name="fatherPhoneNumber" placeholder="Father's Phone Number'*" required ng-model="studentDTO.parentRef.fatherContactNumber">
                    </div>
                    <div class="form-group">
                        <input type="text" id="fatherEmail" class="form-control fatherEmail" name="fatherEmail" placeholder="Father's Email'*" required ng-model="studentDTO.parentRef.fatherEmail">
                    </div>

                </div>
                <div class="col-md-4">
                    <h3>Mother's Details</h3>

                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother Name*" type="text" required ng-model="studentDTO.parentRef.motherName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother's Occupation'*" type="text" required ng-model="studentDTO.parentRef.motherOccupation">
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber" class="form-control MotherPhoneNumber" placeholder="Mother's Phone Number'*" name="MotherPhoneNumber" required ng-model="studentDTO.parentRef.motherContactNumber">
                    </div>
                    <div class="form-group">
                        <input type="text" id="motherEmail" class="form-control motherEmail" placeholder="Mother's Email'*" name="MotherEmail" required ng-model="studentDTO.parentRef.motherEmail">
                    </div>
                </div>
                <!--  -->
                <div class="clearfix"> </div>
                <div class="col-md-12">
                    <h3 class=""><i class="icon-plus-sign-alt"></i> Verification </h3>
                    <hr>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Verification code </label>
                                    <img id="m_imgCaptcha" alt="Click to Change image"
                                         src="/public/captcha.png" style="width: 200px; height: 50px;" />
                                    <label><a href="javascript:void();" id="reloadCaptcha">Reload the verification code</a></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type the verification code </label>
                                    <div class="form-group">
                                        <input class="form-control Captcha" name="Captcha" type="text" id="Captcha" maxlength="6" required ng-model="UserModel.Captcha" style="width:150px;" />
                                    </div>
                                    <label class="error" ng-show="invalidelements.Captcha">Please enter a valid verification code.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                    <button type="button" ng-click="register()" class="btn btn-primary">Register</button>
                    <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                </div>
                <div class="clearfix"> </div>
                <div class="inner_sec_grids_info_w3ls">
                </div>
            </div>
    </form>
</div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/Student/Register';
    var captchaUrl = '/home/ShowCaptchaImage';
    var uploadProfileImageUrl = '/Student/UploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/student-register.js"></script>') %>
<% block('headerscript').append('<script src="/public/vender/multiselect/multiselect.js"></script>') %>