﻿<% layout('/shared/_layout') -%>

<style type="text/css">
    .subject-marks {
        border-style: solid;
        border-width: 1px;
        padding-left: 4;
        padding-right: 4;
        padding-top: 1;
        padding-bottom: 1;
    }
</style>

<div class="container" ng-controller='ngResultInternalController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Student Result</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <TABLE borderColor=#cccccc cellSpacing=0 cellPadding=0 width=773 align=center
                   border=1 height="327">
                <TBODY>
                    <TR>
                        <TD height="325">
                            <TABLE cellSpacing=0 cellPadding=0 width="768"
                                   summary="This table contains the web page layout." border=1 height="662">
                                <!-- MSTableType="layout" -->
                                <tr>
                                    <td bgcolor="#003366" height="21" valign="top">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#003366" height="148">
                                        <img border="0" src="/public/images/header.png" width="763" height="147">
                                    </td>
                                </tr>
                                <tr>
                                    <TD alt="Header: Hemchandracharya North Gujarat University" height="470">
                                        <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-width: 0; font-weight:normal; font-size:9pt; color:Black; font-family:verdana, Tahoma, Arial, Helvetica, sans-serif; text-decoration:Bold" bordercolor="#00143E" width="100%" id="table1" height="145">
                                            <tr>
                                                <td width="97%" style="border-style:none; border-width:medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " align="center" height="25" bordercolor="#3D55C4" colspan="2">
                                                    <p align="center" style="margin-top: 0; margin-bottom: 0">
                                                        <font color="#003366">STATEMENT OF MARKS : <b>{{ resultDTO.examRef.class }} {{ resultDTO.examRef.section }}</b> </font>
                                                    <p align="center" style="margin-top: 0; margin-bottom: 0">
                                                        <font color="#003366">EXAMINATION HELD IN : {{ resultDTO.examRef.examDate }}</font>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="15%" style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" align="center" height="25" bordercolor="#3D55C4">
                                                    <font color="#003366">SEAT NO.</font>
                                                </td>
                                                <td width="82%" style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-left-style:solid; border-left-width:1px; border-bottom-style:solid; border-bottom-width:1px" align="center" height="25" bordercolor="#3D55C4">
                                                    <font color="#003366">NAME</font>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="15%" style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" height="25" bordercolor="#3D55C4" align="center">
                                                    <font size="2" face="Verdana"> {{ resultDTO.examRef.rollNo }} </font>
                                                </td>
                                                <td width="82%" style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:none; border-right-width:medium; border-bottom-style:solid; border-bottom-width:1px; border-left-style:solid; border-left-width:1px; border-top-style:solid; border-top-width:1px" height="25" bordercolor="#3D55C4" align="center">
                                                    <p align="left">
                                                        </font><font size="2" face="Verdana">{{ resultDTO.userRef.lastName }} {{ resultDTO.userRef.firstName }}</font></font>
                                                </td>
                                            </tr>
                                        </table>

                                        <table border="1" width="100%" id="table3" bordercolor="#000080" style="border-collapse: collapse; border-left-width:0px; border-right-width:0px; border-bottom-width:0px" height="61%">


                                            <tr>
                                                <td style="border-top:1px solid #000080; border-left:medium none #000080; border-bottom-style: solid; border-bottom-width: 1px; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:solid; border-right-width:1px" align="center" bordercolor="#3D55C4" width="43%" rowspan="3">
                                                    <font color="#003366" size="2" face="Arial">SUBJECT</font>
                                                </td>
                                                <td style="border-top:1px solid #000080; border-bottom-style: solid; border-bottom-width: 1px; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px" width="15%" align="center" bordercolor="#3D55C4" colspan="3">
                                                    <font face="Arial" size="2" color="#003366">PASSING MARKS</font>
                                                </td>
                                                <td style="border-top:1px solid #000080; border-bottom-style: solid; border-bottom-width: 1px; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px" width="26%" align="center" bordercolor="#3D55C4" colspan="5">
                                                    <font color="#003366" size="2" face="Arial">OBTAIN MARKS</font>
                                                </td>
                                                <td style="border-top:1px solid #000080; border-right:medium none #000080; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="12%" align="center" bordercolor="#3D55C4" colspan="3">
                                                    <font color="#003366" size="2" face="Arial">OBTAIN GRADE</font>
                                                </td>
                                            </tr>


                                            <tr>

                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="10%" align="center" bordercolor="#3D55C4" colspan="2">
                                                    <font color="#003366" size="2" face="Arial">INT</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:solid; border-right-width:1px; border-left-style:solid; border-left-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="5%" align="center" bordercolor="#3D55C4" rowspan="2">
                                                    <font color="#003366" size="2" face="Arial">TOTAL</font>
                                                </td>

                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="6%" align="center" bordercolor="#3D55C4" colspan="4">
                                                    <font color="#003366" size="2" face="Arial">INT</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:solid; border-right-width:1px; border-left-style:solid; border-left-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="6%" align="center" bordercolor="#3D55C4" rowspan="2">
                                                    <font color="#003366" size="2" face="Arial">TOTAL</font>
                                                </td>
                                                <td class="subject-marks" width="4%" align="center" bordercolor="#3D55C4" rowspan="2">
                                                    <font color="#003366" size="2" face="Arial">GP</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="3%" align="center" bordercolor="#3D55C4" rowspan="2">
                                                    <font color="#003366" size="2" face="Arial">CR</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="6%" align="center" bordercolor="#3D55C4" rowspan="2">
                                                    <font color="#003366" size="2" face="Arial">GR</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4">
                                                    <font color="#003366" size="2" face="Arial">TH.</font>
                                                </td>
                                                <td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4">
                                                    <font color="#003366" size="2" face="Arial">PR.</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="4%" align="center" bordercolor="#3D55C4" colspan="2">
                                                    <font color="#003366" size="2" face="Arial">TH.</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="3%" align="center" bordercolor="#3D55C4" colspan="2">
                                                    <font color="#003366" size="2" face="Arial">PR.</font>
                                                </td>
                                            </tr>

                                            <tr ng-repeat="subject in resultDTO.examRef.subjects">
                                                <td style="border-left:medium none #000080; border-bottom-style: solid; border-bottom-width: 1px; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-right-style:solid; border-right-width:1px; border-top-style:solid; border-top-width:1px" align="left" bordercolor="#3D55C4" width="43%" height="25">
                                                    <span style="font-size: 9pt">
                                                        <font face="Verdana">
                                                            {{subject.text}}
                                                        </font>
                                                    </span>
                                                </td>
                                                <!--<td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4" height="25">
                                                <font face="Verdana" style="font-size: 9pt">70</font>
                                            </td>
                                            <td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4" height="25">
                                                <font face="Verdana" style="font-size: 9pt">3</font>
                                            </td>-->
                                                <td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font face="Verdana" style="font-size: 9pt">30</font>
                                                </td>
                                                <td class="subject-marks" width="5%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font face="Verdana" style="font-size: 9pt">13</font>
                                                </td>
                                                <td class="subject-marks" width="6%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">100</font>
                                                </td>
                                                <!--<td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="4%" align="center" bordercolor="#3D55C4" height="25">
                                                <font style="font-size: 9pt" face="Verdana">30 </font>
                                            </td>
                                            <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="2%" align="center" bordercolor="#3D55C4" height="25">
                                                <font style="font-size: 9pt" color="#FF0000" face="Verdana"> 23</font>
                                            </td>
                                            <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="4%" align="center" bordercolor="#3D55C4" height="25">
                                                <font style="font-size: 9pt" face="Verdana">33 </font>
                                            </td>
                                            <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="2%" align="center" bordercolor="#3D55C4" height="25">
                                                43
                                            </td>-->
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="2%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.marksObtainedTheory}} </font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="1%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" color="#FF0000" face="Verdana"></font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:solid; border-left-width:1px; border-right-style:none; border-right-width:medium; border-top-style:solid; border-top-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="2%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.marksObtainedPractical}}</font>
                                                </td>
                                                <td style="padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-left-style:none; border-left-width:medium; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px" width="1%" align="center" bordercolor="#3D55C4" height="25"></td>
                                                <td class="subject-marks" width="6%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.totalMarksObtained}} </font>
                                                </td>
                                                <td class="subject-marks" width="4%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.GP}} </font>
                                                </td>
                                                <td class="subject-marks" width="3%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.CR}} </font>
                                                </td>
                                                <td class="subject-marks" width="6%" align="center" bordercolor="#3D55C4" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">{{subject.letterGrade}} </font>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-top-style:solid; border-top-width:1px" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    &nbsp;
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: solid; border-top-width: 1px; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    &nbsp;
                                                </td>
                                            </tr>

                                            <!--<tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-top-style:none; border-top-width:medium" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        UNIVERSITY TOTAL (470) :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.externalTotal }}
                                                    </font>
                                                </td>
                                            </tr>-->
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        INTERNAL TOTAL (230) :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.examRef.grandTotalMarks }}
                                                    </font>
                                                </td>
                                            </tr>
                                            <!--<tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        GRAND TOTAL (700) :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.grandTotal }}
                                                    </font>
                                                </td>
                                            </tr>-->
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        CREDIT TOTAL :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.creditTotal }}
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        Percentage :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.examRef.percentage }}
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        SGPA :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.sgpa }}
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-bottom-style:none; border-bottom-width:medium" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    <font face="Verdana" style="font-size: 9pt" color="#003366">
                                                        RESULT :
                                                    </font>
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    <font style="font-size: 9pt" face="Verdana">
                                                        {{ resultDTO.examRef.result }}&nbsp;&nbsp;&nbsp;
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-bottom-style:solid; border-bottom-width:1px" align="right" bordercolor="#3D55C4" width="43%" height="25">
                                                    &nbsp;
                                                </td>
                                                <td style="border-right:medium none #000080; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 1px; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; " width="54%" align="left" bordercolor="#3D55C4" colspan="17" height="25">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-bottom-style:solid; border-bottom-width:1px" align="right" bordercolor="#3D55C4" width="97%" height="25" colspan="18">
                                                    <p align="left" style="margin-top: 0; margin-bottom: 0">
                                                        <font face="Verdana" color="#003366" size="2">
                                                            * LAST DATE
                                                            FOR VERIFICATION/REASSESSMENT IS : {{ resultDTO.lastDateForVerification }}
                                                        </font>
                                                    <p align="left" style="margin-top: 0; margin-bottom: 0">
                                                        <font face="Verdana" size="2" color="#003366">
                                                            * Marks are
                                                            shown in brackets are carry forwarded from previous
                                                            Examination.
                                                        </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:medium none #000080; border-right:medium none #000080; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; border-bottom-style:none; border-bottom-width:medium; border-top-style:none; border-top-width:medium" align="right" bordercolor="#3D55C4" width="98%" colspan="18" height="24">
                                                    <p align="center">
                                                        <font color="#990000">
                                                            Note :&nbsp; Please verify
                                                            this statement with original documents. This Statement is
                                                            valid for Rechecking /Reassessment
                                                        </font>
                                                </td>
                                            </tr>
                                        </table>

                                    </TD>
                                </tr>
                                <tr>
                                    <TD bgColor=#e5e5e5 height=21 width="764">
                                        <p align="center">
                                            Copyright <%= footerText %>
                                    </TD>
                                </tr>
                            </TABLE>
                        </TD>
                    </TR>
                </TBODY>
            </TABLE>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<% block('script').append('<script src="/public/js/views/result-internal.js"></script>') %>
