﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<!-- Admission form -->
<div class="container" ng-controller='ngParentIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Parent Information</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" required="" ng-model="standard">
                        <option value="">Select Class*</option>
                        <% if(classes) {
                        for(var i=0; i
                        <classes.length; i++) { %>
                            <option value="<%= classes[i].value %>"><%= classes[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" required="" ng-model="section">
                        <option value="">Select Section*</option>
                        <% if(sections) {
                        for(var i=0; i
                        <sections.length; i++) { %>
                            <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" required="" ng-model="studentId"
                            ng-options="obj._id as obj.userRef.firstName for obj in students">
                        <option value="">Select Student*</option>
                        <% if(students) {
                        for(var i=0; i
                        <students.length; i++) { %>
                            <option value="<%= students[i].value %>"><%= students[i].text %></option>
                            <% }} %>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
            </div>
            <div class="clearfix"> </div>

            <div class="col-md-6">
                <h3>Father's Details</h3>
                
                
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Father Name*" type="text" required ng-model="parentDTO.fatherName">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Father's Occupation'*" type="text" required ng-model="parentDTO.fatherOccupation">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNumber" class="form-control fatherPhoneNumber" name="fatherPhoneNumber" placeholder="Father's Phone Number'*" required ng-model="parentDTO.fatherContactNumber">
                </div>
                <div class="form-group">
                    <input type="text" id="fatherEmail" class="form-control fatherEmail" name="fatherEmail" placeholder="Father's Email'*" required ng-model="parentDTO.fatherEmail">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <h3>Mother's Details</h3>
                
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother Name*" type="text" required ng-model="parentDTO.motherName">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother's Occupation'*" type="text" required ng-model="parentDTO.motherOccupation">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNumber" class="form-control MotherPhoneNumber" placeholder="Mother's Phone Number'*" name="MotherPhoneNumber" required ng-model="parentDTO.motherContactNumber">
                </div>
                <div class="form-group">
                    <input type="text" id="motherEmail" class="form-control motherEmail" placeholder="Mother's Email'*" name="MotherEmail" required ng-model="parentDTO.motherEmail">
                </div>
            </div>
            <div class="clearfix"> </div>

            <!--  -->
            <div class="col-md-6">
                <h3>Login Information</h3>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="parentDTO.userRef.username">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="parentDTO.userRef.email">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="text" required ng-model="parentDTO.userRef.password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Password*" type="text" required>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Contact Information</h3>

                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="parentDTO.userRef.address">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="City'*" type="text" required ng-model="parentDTO.userRef.city">
                </div>
                <div class="form-group">
                    <select class="form-control" required="" ng-model="parentDTO.userRef.province">
                        <option value="">Province*</option>
                        <% if(provinces) {
                        for(var i=0; i
                        <provinces.length; i++) { %>
                            <option value="<%= provinces[i].value %>"><%= provinces[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="pinCode" class="form-control" name="pinCode" placeholder="PinCode'*" required ng-model="parentDTO.userRef.pinCode">
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
            </div>
            <div class="col-md-12 media">
                <div ui-grid="gridOptions"></div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/parent/Register';
    var captchaUrl = '/home/ShowCaptchaImage';
    var uploadProfileImageUrl = '/parent/UploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/parent-index.js"></script>') %>