﻿<% layout('/shared/_layout') -%>

<div class="container" ng-controller='ngExamTimeTableController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Exam TimeTable</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <form id="registrationForm" name="registrationForm" role="form">
                <div class="col-md-4">
                    <!-- select-block -->
                    <div class="form-group">
                        <select class="form-control" required="" ng-model="class">
                            <option value="">Select Standard*</option>
                            <% if(standards) {
                            for(var i=0; i
                            <standards.length; i++) { %>
                                <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- select-block -->
                    <div class="form-group">
                        <select class="form-control" required="" ng-model="examType">
                            <option value="">Select Exam Types*</option>
                            <% if(examTypes) {
                            for(var i=0; i
                            <examTypes.length; i++) { %>
                                <option value="<%= examTypes[i].value %>"><%= examTypes[i].text %></option>
                                <% }} %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Exam Date
                                </th>
                                <th>
                                    Time Starts
                                </th>
                                <th>
                                    Time Ends
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in examDTO.timeTableList">
                                <td>
                                    {{obj.subject}}
                                </td>
                                <td>
                                    {{obj.examDate}}
                                </td>
                                <td>
                                    {{obj.timeStart}}
                                </td>
                                <td>
                                    {{obj.timeEnd}}
                                </td>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>

<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/exam-timeTable.js"></script>') %>
