﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<div class="container" ng-controller='ngStudentApplyController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Apply Roll No/Reg. No</h3>
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
                <form id="registrationForm" name="registrationForm" role="form">
                    <div class="clearfix"> </div>
                    <!--  -->
                    <div class="col-md-12 media">
                        <!-- ui.grid started -->
                        <div id="grid1" ui-grid="gridOptions"></div>
                        <!-- ui.grid ended -->
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
            <!--  -->
            <div class="inner_sec_grids_info_w3ls">
            </div>
        </div>
    </div>
</div>

<% block('headerscript').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('headerscript').append('<script src="/public/js/views/student-apply.js"></script>') %>