﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/student-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>
<style>
    .present a {
        background-color: green !important;
        background-image :none !important;
        color: #ffffff !important;
    }
    .absent a {
        background-color: red !important;
        background-image :none !important;
        color: #ffffff !important;
    }
</style>
<!-- Admission form -->
<div class="container" ng-controller='ngStudentAttendanceController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Student Attendance</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <form id="registrationForm" name="registrationForm" role="form">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="currentClass" class="col-md-5">Select Standard</label><div class="col-md-7">
                            <select class="form-control" required="" ng-model="studentDTO.currentClass">
                                <option value="">Select*</option>
                                <% if(standards) {
                                for(var i=0; i
                                <standards.length; i++) { %>
                                    <option value="<%= standards[i].value %>"><%= standards[i].text %></option>
                                    <% }} %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="tutorFee" class="col-md-5">Select Section</label><div class="col-md-7">
                            <select class="form-control" required="" ng-model="studentDTO.currentSection">
                                <option value="">Select*</option>
                                <% if(sections) {
                                for(var i=0; i
                                <sections.length; i++) { %>
                                    <option value="<%= sections[i].value %>"><%= sections[i].text %></option>
                                    <% }} %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                </div>
                <div class="clearfix"></div>
                <div class="inner_sec_grids_info_w3ls">
                    <div class="col-md-6">
                        <h3>Personal Information</h3>

                        <div class="form-group">
                            <select class="form-control" required="" ng-model="studentDTO.userRef._id"
                                    ng-options="obj.userRef._id as obj.userRef.firstName for obj in students">
                                <option value="">Select Student*</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" required="" ng-model="studentDTO.attendance.status">
                                <option value="">Select Present*</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea id="remarks" class="form-control remarks" name="remarks" placeholder="Remarks" ng-model="studentDTO.attendance.remarks"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Attendance Calendar</h3>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <!--<div class="form-group">
                <input type="text" id="rollNo" class="form-control remarks" name="rollNo" placeholder="Roll No*" ng-model="studentDTO.currentRollNo">
            </div>
            <div class="form-group">
                <input type="text" id="Attendance Date" class="form-control attendanceDate" name="attendanceDate" placeholder="Attendance Date*" required ng-model="studentDTO.attendances.attendanceDate" datepicker>
            </div>-->
                        <div class="form-group">
                            <div id="datepicker"></div>
                        </div>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center media">
                    <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                    <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                    <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                </div>
                <div class="clearfix"></div>
                <div class="inner_sec_grids_info_w3ls">
                </div>
                <!--  -->

                <div class="col-md-12 media">
                    <div ui-grid="gridOptions"></div>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="inner_sec_grids_info_w3ls">
        </div>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/student/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/student/uploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/student-attendance.js"></script>') %>