﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/class-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<!-- Admission form -->
<div class="container" ng-controller='ngClassFeesController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Exam TimeTable</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h2>Personal Information</h2>
                <div class="form-group">
                    <select required="">
                        <option value="">Select Standard*</option>
                        <option value="">quatar</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="form-group">
                    <input type="text" id="formFee" class="form-control formFee" name="formFee" placeholder="Form Fee*" required ng-model="feeModel.formFee">
                </div>
                <div class="form-group">
                    <input type="text" id="Lab Date" class="form-control labDate" name="labDate" placeholder="Lab Date*" required ng-model="feeModel.labDate">
                </div>
                <div class="form-group">
                    <input type="text" id="Computer Fee" class="form-control computerFee" name="computerFee" placeholder="Computer Fee*" required ng-model="feeModel.computerFee">
                </div>
                <div class="form-group">
                    <input type="text" id="Late Fee" class="form-control lateFee" name="lateFee" placeholder="Late Fee*" required ng-model="feeModel.lateFee">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Contact Information</h3>

                <div class="form-group">
                    <input type="text" id="libraryFee" class="form-control libraryFee" name="libraryFee" placeholder="Library Fee*" required ng-model="feeModel.libraryFee">
                </div>
                <div class="form-group">
                    <input type="text" id="developmentFee" class="form-control developmentFee" name="developmentFee" placeholder="Development Fee*" required ng-model="feeModel.developmentFee">
                </div>
                <div class="form-group">
                    <input type="text" id="sportFee" class="form-control sportFee" name="sportFee" placeholder="Sport Fee*" required ng-model="feeModel.sportFee">
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/class/register';
    var captchaUrl = '/home/showCaptchaImage';
    var uploadProfileImageUrl = '/class/uploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/class-fees.js"></script>') %>