﻿<% layout('/shared/_layout') -%>

<h2><%= pTitle %>.</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a href="/Account/Login?id=loginLink">click here to log in</a>
    </p>
</div>

