﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/content/views/account-login.css" media="screen">') %>

<!--<section class="page-content">-->
    <div class="container" ng-controller='ngLoginController'>
        <div class="row">
            
            <div class="col-md-6">
                <div class="box">
                    <h3>Login via site</h3>
                    <form name="loginForm" role="form">
                        <div class="form-group">
                            <label>Username or email address <span class="required">*</span></label>
                            <input name="username" type="text" class="form-control" required ng-model="LoginViewModel.Username">
                            <span class="field-validation-error"
                                  ng-show="loginForm.username.$invalid && loginForm.submitted && loginForm.username.$error.required">Please enter your username.</span>
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label class="pull-left">
                                    Password <span class="required">*</span>
                                </label>
                                <span class="pull-right"><a href="#pwdModal" role="button" data-toggle="modal">Lost password?</a></span>
                            </div>
                            <input id="password" name="password" type="password" class="form-control" required ng-model="LoginViewModel.Password">
                            <span class="field-validation-error"
                                  ng-show="loginForm.password.$invalid && loginForm.submitted && loginForm.password.$error.required">Please enter your password.</span>
                            <!--login Failed-->
                            <span class="field-validation-error"
                                  ng-show="loginFailed">
                                The username/password combination is incorrect. Please select either Forgot Username
                                or Forgot password to retrieve the correct information.
                            </span>
                            <!---->
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline" for="chkShowPassword">
                                <input id="chkShowPassword" type="checkbox" onclick="showPassword()" name="chkShowPassword">
                                Show password
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-inline" ng-click="login()">Login</button>&nbsp; &nbsp; &nbsp;
                            <label for="remember" class="checkbox-inline">
                                <input type="checkbox" name="remember" id="remember" ng-model="LoginViewModel.RememberMe"> Remember me
                            </label>
                        </div>
                        <div class="form-group" style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            Don't have an account!
                            <a data-toggle="modal" href="#modalRegistration" role="button">
                                Sign Up Here
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <% ReturnUrl= locals.ReturnUrl; %>
        </div>
    </div>
<!--</section>-->
<!-- .registration map -->
<div class="modal fade" role="dialog" id="modalRegistration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Select Registration Type</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <div class="form-group">
                                    <a ng-href="/recipient/Register" class="btn btn-primary">
                                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span> Register as Receiver
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <a ng-href="/donor/Register" class="btn btn-primary">
                                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span> Register as Donor
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.registration map -->
<!--modal forgot password-->
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">Forgot Password?</h1>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                                <form class="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="emailInput" placeholder="email address" class="form-control" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.forgot password -->
<script type="text/javascript">
    var loginUrl = '/Account/Login';
</script>
<% block('script').append('<script type="text/javascript" src="/public/js/views/account-login.js"></script>') %>
