﻿<% layout('/shared/_layout') -%>

<hgroup class="title">
    <h1><%= pTitle %>.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please <a href="/Account/Login?id=loginLink">click here to log in</a>
    </p>
</div>