﻿<% layout('/shared/_layout') -%>

<h2><%= pTitle %>.</h2>

<form action="Account/ResetPassword?<%= locals.ReturnUrl%>" method="post" class="form-horizontal" role="form">
    <h4>Reset your password.</h4>
    <hr />
    <input type="hidden" name="code" id="code" value="<%= locals.Code%>" />
    <div class="form-group">
        <label class="col-md-2 control-label" for="Email">Email</label>
        <div class="col-md-10">
            <input name="email" type="text" class="form-control" required ng-model="ResetPasswordViewModel.Email">
            <div ng-messages="ResetPasswordViewModel.Email.$error">
                <p ng-message="email">Please enter a valid email address.</p>
                <p ng-message="required">Providing an email is mandatory.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Password">Password</label>
        <div class="col-md-10">
            <input name="password" type="password" class="form-control" required ng-model="ResetPasswordViewModel.Password">
            <div ng-messages="ResetPasswordViewModel.Password.$error">
                <p ng-message="minlength">Password should have at least 6 characters.</p>
                <p ng-message="maxlength">Password should have at most 12 characters.</p>
                <p ng-message="required">Providing a password is mandatory.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="confirmPassword">ConfirmPassword:</label>
        <div class="col-md-10">
            <input name="confirmPassword" type="password" class="form-control" required ng-model="ResetPasswordViewModel.ConfirmPassword">
            <div ng-messages="ResetPasswordViewModel.ConfirmPassword.$error">
                <p ng-message="minlength">Password should have at least 6 characters.</p>
                <p ng-message="maxlength">Password should have at most 12 characters.</p>
                <p ng-message="required">Providing a password is mandatory.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
</form>


