﻿<% layout('/shared/_layout') -%>

<h2><%= pTitle %>.</h2>

<form action="Account/SendCode?<%= locals.ReturnUrl%>" method="post" class="form-horizontal" role="form">
    <input type="hidden" name="rememberMe" id="rememberMe" value="<%= locals.RememberMe%>" />
    <h4>Send verification code</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            <select id="provider" name="provider" class="form-control" ng-model="sendCodeModel.Provider">
                <% if(locals.providers) {
                for(var i=0; i<locals.providers.length; i++) { %>
                    <option value="<%= locals.providers[i].code %>"><%= locals.providers[i].text %></option>
                    <% }} %>
            </select>
            <input type="submit" value="Submit" class="btn btn-default" />F
        </div>
    </div>
</form>

