﻿<% layout('/shared/_layout') -%>

<h2><%= pTitle %>.</h2>
<form action="Account/VerifyCode?<%= locals.ReturnUrl%>" method="post" class="form-horizontal" role="form">
    
    <input type="hidden" name="provider" id="provider" value="<%= locals.Provider%>" />
    <input type="hidden" name="rememberMe" id="rememberMe" value="<%= locals.RememberMe%>" />
    <h4>Enter verification code</h4>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label" for="code">Code</label>
        <div class="col-md-10">
            <input name="code" type="text" class="form-control" required ng-model="VerifyCodeViewModel.Code">
            <div ng-messages="VerifyCodeViewModel.Code.$error">
                <p ng-message="required">Providing an email is mandatory.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Remember Browser
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
</form>




