﻿<% layout('/shared/_layout') -%>

<% block('styles').append('<link rel="stylesheet" href="/public/css/jquery-ui/jquery-ui.css">') %>
<% block('styles').append('<link rel="stylesheet" href="/public/css/views/invoice-register.css" media="screen">') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/css/ui-grid/ui-grid.min.css">') %>
<% block('headerscript').append('
<script src="/public/js/ui-grid/ui-grid.min.js"></script>') %>

<% block('styles').append('<link rel="stylesheet" type="text/css" href="/public/vender/multiselect/multiselect.style.css">') %>
<!-- Admission form -->
<div class="container" ng-controller='ngInvoiceIndexController'>
    <!--AntiForgeryToken-->
    <div class="container">
        <div class="heading">
            <h3>Manage Invoice</h3>
        </div>
        <form id="registrationForm" name="registrationForm" role="form">
            <div class="col-md-6">
                <h2>Personal Information</h2>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="First Name*" type="text" required ng-model="invoiceDTO.userRef.firstName">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Last Name*" type="text" required ng-model="invoiceDTO.userRef.lastName">
                </div>
                <div class="form-group">
                    <input type="text" id="birthDate" class="form-control birthDate" name="birthDate" placeholder="Birth Date*" datepicker required ng-model="invoiceDTO.userRef.birthDate">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNumber" class="form-control phoneNumber" name="phoneNumber" placeholder="Phone Number*" required ng-model="invoiceDTO.userRef.phoneNumber">
                </div>
                <!-- select-block -->
                <div class="form-group">
                    <select required="" ng-model="invoiceDTO.userRef.bloodGroup">
                        <option value="">Blood Group*</option>
                        <% if(bloodGroups) {
                        for(var i=0; i
                        <bloodGroups.length; i++) { %>
                            <option value="<%= bloodGroups[i].value %>"><%= bloodGroups[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="invoiceDTO.currentSubjects"
                                 options="c.text for c in subjects"
                                 change="selected()"></multiselect>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <h3>Login Information</h3>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Username*" type="text" required ng-model="invoiceDTO.userRef.username">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Email*" type="text" required ng-model="invoiceDTO.userRef.email">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Email*" type="text" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Password*" type="password" required ng-model="invoiceDTO.userRef.password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Confirm Password*" type="password" required>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="col-md-6">
                <h2>Father's Details</h2>


                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Father Name*" type="text" required ng-model="invoiceDTO.parentRef.fatherName">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Father's Occupation'*" type="text" required ng-model="invoiceDTO.parentRef.fatherOccupation">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNumber" class="form-control fatherPhoneNumber" name="fatherPhoneNumber" placeholder="Father's Phone Number'*" required ng-model="invoiceDTO.parentRef.fatherContactNumber">
                </div>
                <div class="form-group">
                    <input type="text" id="fatherEmail" class="form-control fatherEmail" name="fatherEmail" placeholder="Father's Email'*" required ng-model="invoiceDTO.parentRef.fatherEmail">
                </div>

            </div>
            <div class="col-md-6">
                <h3>Mother's Details</h3>

                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother Name*" type="text" required ng-model="invoiceDTO.parentRef.motherName">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Mother's Occupation'*" type="text" required ng-model="invoiceDTO.parentRef.motherOccupation">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNumber" class="form-control MotherPhoneNumber" placeholder="Mother's Phone Number'*" name="MotherPhoneNumber" required ng-model="invoiceDTO.parentRef.motherContactNumber">
                </div>
                <div class="form-group">
                    <input type="text" id="motherEmail" class="form-control motherEmail" placeholder="Mother's Email'*" name="MotherEmail" required ng-model="invoiceDTO.parentRef.motherEmail">
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->
            <div class="col-md-6">
                <h3>Contact Information</h3>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Address*" type="text" required ng-model="invoiceDTO.userRef.address">
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="City*" type="text" required ng-model="invoiceDTO.userRef.city">
                </div>
                <div class="form-group">
                    <select required="" ng-model="invoiceDTO.userRef.province">
                        <option value="">Province*</option>
                        <% if(provinces) {
                        for(var i=0; i
                        <provinces.length; i++) { %>
                            <option value="<%= provinces[i].value %>"><%= provinces[i].text %></option>
                            <% }} %>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" name="slider-name" id="slider-name" placeholder="Pin Code*" type="text" required ng-model="invoiceDTO.userRef.pinCode">
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="clearfix"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12 center media">
                <button type="button" ng-click="insert()" class="btn btn-primary" ng-show="addMode">Save</button>
                <button type="button" ng-click="update()" class="btn btn-primary" ng-show="!addMode">Update</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
            <div class="clearfix"> </div>
            <!--  -->

            <div class="col-md-12 media">
                <div ui-grid="gridOptions"></div>
            </div>
            <div class="clearfix"> </div>
            <!--  -->

        </form>
    </div>
</div>
<!-- //Admission form -->

<script type="text/javascript" language="javascript">
    var registerUrl = '/Invoice/Register';
    var captchaUrl = '/home/ShowCaptchaImage';
    var uploadProfileImageUrl = '/Invoice/UploadProfileImage';
</script>
<% block('script').append('<script src="/public/js/views/common-script.js"></script>') %>
<% block('script').append('<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>') %>
<% block('script').append('<script src="/public/js/views/invoice-index.js"></script>') %>
<% block('headerscript').append('<script src="/public/vender/multiselect/multiselect.js"></script>') %>