﻿<% layout('/shared/_layout') -%>

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Graphic Work <span>Designing</span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Financial Analyst <span>Course.</span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Digital Marketing  <span>Course.</span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!-- about -->
<div class="agile-about w3ls-section text-center" id="about">
    <div class="container">
        <h3 class="heading-agileinfo">Welcome To Education<span>When Climbing The Carrer Ladder</span></h3>
        <div class="agileits-about-grid">
            <p>
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sunt in culpa qui officia
                deserunt mollit anim id est laboth. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur sunt in culpa qui .
            </p>
        </div>
    </div>
</div>
<!-- //about -->
<!-- about-bottom -->
<div class="agileits-about-btm">
    <div class="container">
        <div class="w3-flex">
            <div class="col-md-4 col-sm-4 col-xs-12 ab1 agileits-about-grid1">
                <span class="fa fa-desktop" aria-hidden="true"></span>
                <h4 class="agileinfo-head">Design Course</h4>
                <h5>Fashion Design</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Interior Design</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Graphic Design</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
                <span class="fa fa-arrows  wthree-title-list" aria-hidden="true"></span>
                <h4 class="agileinfo-head">Marketing Course</h4>
                <h5>Facebook Marketing</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>YouTube Marketing</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Twitter Marketing</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
                <span class="fa fa-bar-chart  wthree-title-list" aria-hidden="true"></span>
                <h4 class="agileinfo-head">Financial Course</h4>
                <h5>Complexities of banking </h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Compliance regulations</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Finance products</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about-bottom -->
<!-- stats -->
<div class="stats">
    <div class="container">
        <h3 class="heading-agileinfo">Our Stats<span class="ttt">When Climbing The Carrer Ladder </span></h3>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
            <span class="fa fa-graduation-cap" aria-hidden="true"></span>
            <h3>Graduates</h3>
            <p class="counter">45</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
            <span class="fa fa-user" aria-hidden="true"></span>
            <h3>Certified Staff</h3>
            <p class="counter">165</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
            <span class="fa fa-users" aria-hidden="true"></span>
            <h3>Student</h3>
            <p class="counter">563</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
            <span class="fa fa-trophy" aria-hidden="true"></span>
            <h3>Awards</h3>
            <p class="counter">245</p>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //stats -->
<!-- services -->
<div class="services">
    <h3 class="heading-agileinfo">What we offer<span>When Climbing The Carrer Ladder </span></h3>
    <div class="container">
        <div class="services-top-grids">
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h4>Undergraduate Study</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h4>Professional Study</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <h4>Programs</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="services-bottom-grids">
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <h4>Online Learning</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    <h4>Summer Session</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h4>Global Education</h4>
                    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- feedback -->
<div class="feedback section-w3ls about-w3ls" id="testimonials">
    <div class="feedback-agileinfo">
        <div class="container">
            <h3 class="heading-agileinfo">Testimonials<span class="ttt">When Climbing The Carrer Ladder </span></h3>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test3.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test2.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test3.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test2.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Guptill</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="/public/images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5> Wilson</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //feedback -->
<!-- news -->
<div class="news">
    <div class="container">
        <h2 class="heading-agileinfo">News & Events<span>Exclusive Holidays for Any Travelers</span></h2>
        <div class="news-agileinfo">
            <div class="news-w3row">
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="/public/images/g7.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Sit amet justo vitae</a></h5>
                        <h6>3/01/2018</h6>
                        <p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>


                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="/public/images/g10.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque</a></h5>
                        <h6>5/01/2018</h6>
                        <p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>
<!-- //news -->