﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title><%= pTitle %></title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Instruction Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/public/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="/public/css/owl.theme.css" type="text/css" media="all">
    <link href="/public/css/font-awesome.css" rel="stylesheet">
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
    <%- block('styles').toString() %>
    <!-- js -->
    <script type="text/javascript" src="/public/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script src="/public/js/jquery.validate.js"></script>
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/angular-touch.min.js"></script>
    <script src="/public/js/angular-animate.min.js"></script>
    <script type="text/javascript">
        var schoolApp = angular.module('schoolApp', []);
    </script>
    <%- block('headerscript').toString() %>
        <style type="text/css">
            #login-dp{
        min-width: 250px;
        padding: 14px 14px 0;
        overflow:hidden;
        background-color:rgba(255,255,255,.8);
    }
    #login-dp .help-block{
        font-size:12px    
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    #login-dp .social-buttons{
        margin:12px 0    
    }
    #login-dp .social-buttons a{
        width: 49%;
    }
    #login-dp .form-group {
        margin-bottom: 10px;
    }
    .btn-fb{
        color: #fff;
        background-color:#3b5998;
    }
    .btn-fb:hover{
        color: #fff;
        background-color:#496ebc 
    }
    .btn-tw{
        color: #fff;
        background-color:#55acee;
    }
    .btn-tw:hover{
        color: #fff;
        background-color:#59b5fa;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
        </style>
</head>

<body ng-app="schoolApp">
    <!-- header -->
    <div class="header">
        <div class="agileits_top_menu">
            <div class="w3l_header_left">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +456 123 7890</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
                    <% if (isAuthenticated) { %>
                    <li><i class="glyphicon glyphicon-education" aria-hidden="true"></i> Welcome <%= user.firstName%></li>
                    <% } %>
                </ul>
            </div>
            
            <div class="w3l_header_right">
                
                <div class="w3ls-social-icons text-left">
                    
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    
                </div>
                
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content white agile-info">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/index">
                            <h1><span class="fa fa-book" aria-hidden="true"></span> <%= projectName %> <label><%= projectTag %></label></h1>
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/home/index" class="effect-3">Home</a></li>
                                <% if (isAuthenticated) { %>
                                <% if (user.userType == 2) { %>
                                <li><a href="/teacher/myProfile" class="effect-3">My Profile</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/exam/timeTable">Manage Exam Time Table</a></li>
                                        <li><a href="/student/exam/marks">Manage Exam Marks</a></li>
                                        <li><a href="/student/attendance">Manage Attendance</a></li>
                                        <!--<li><a href="/student/apply">Migrate Students</a></li>-->
                                        <li><a href="/student/apply">Apply Roll No</a></li>
                                    </ul>
                                </li>
                                <% } %>
                                <% if (user.userType == 3) { %>
                                <li><a href="/officeStaff/myProfile" class="effect-3">My Profile</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/student/index">Manage Student</a></li>
                                        <!--<li><a href="/student/upload">Upload Student</a></li>-->
                                        <!--<li class="divider"></li>-->
                                        <li><a href="/teacher/index">Manage Teacher</a></li>
                                        <li><a href="/officeStaff/index">Manage Office Staff</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/class/timeTable">Manage Class TimeTable</a></li>
                                        <li><a href="/class/fees">Manage Class Fees</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/holiday/index">Manage Holiday</a></li>
                                        <!--<li><a href="/notice/index">Manage Notice</a></li>-->
                                    </ul>
                                </li>
                                <% }} %>
                                <% if (!isAuthenticated) { %>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                                    <ul id="login-dp" class="dropdown-menu">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                        <div class="form-group">
                                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                            <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" id="btnSignIn" name="btnSignIn" class="btn btn-primary btn-block">Sign in</button>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> keep me logged-in
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#modalRegistration" data-toggle="modal" class="effect-3">Register</a></li>
                                <% } else { %>
                                <li><a href="/logout" class="effect-3">Log Off</a></li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    <!--  -->
    <!-- Page Content / Start -->
    <%- body %>
    <!-- Page Content / End -->
    <!--  -->
    <!-- footer -->
    <div class="footer_top_agileits">
        <div class="container">
            <div class="col-md-4 footer_grid">
                <h3>About Us</h3>
                <p>
                    Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
                    eros.
                </p>
            </div>
            <div class="col-md-4 footer_grid">
                <h3>Latest News</h3>
                <ul class="footer_grid_list">
                    <li>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
                    </li>
                    <li>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                    </li>
                    <li>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                    </li>
                    <li>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                    </li>
                    <li>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer_grid">
                <h3>Contact Info</h3>
                <ul class="address">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= schoolAddress %></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:<%= schoolEmail%>"><%= schoolEmail%></a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><%= schoolContactNo%></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="footer_grids">
                <div class="col-md-4 footer_grid_left">
                    <h3>Sign up for our Newsletter</h3>
                </div>
                <div class="col-md-8 footer_grid_right">

                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Enter Email Address..." required="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer_w3ls">
        <div class="container">
            <div class="footer_bottom1">
                <p><%= footerText %> | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- modal -->
    <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><%= projectName %></h4>
                </div>
                <div class="modal-body">
                    <div class="agileits-w3layouts-info">
                        <img src="/public/images/g12.jpg" class="img-responsive" alt="" />
                        <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- .registration map -->
    <div class="modal fade" id="modalRegistration">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Select Registration Type</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="row">
                                    <div class="form-group">
                                        <a href="/Teacher/Register" class="btn btn-primary">
                                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span> Register as Teacher
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <a href="/OfficeStaff/Register" class="btn btn-primary">
                                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span> Register as Office Staff
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.registration map -->
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



    <!-- stats -->
    <script src="/public/js/jquery.waypoints.min.js"></script>
    <script src="/public/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- owl carousel -->
    <script src="/public/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: true,
                items: 3,
                itemsDesktop: [991, 2],
                itemsDesktopSmall: [414, 4]

            });
        });
    </script>
    <!-- //owl carousel -->
    <%- block('script').toString() %>
    <script src="/public/js/views/common-script.js"></script>
</body>

</html>